// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Typography

$body-font-size: 15px !default;

$h1: (
  size: 3rem,
  line-height: 1.2,
  letter-spacing: normal,
  weight: 300,
) !default;
$h2: (
  size: 2.5rem,
  line-height: 1.2,
  letter-spacing: normal,
  weight: 300,
) !default;
$h3: (
  size: 2rem,
  line-height: 1.2,
  letter-spacing: normal,
  weight: 400,
) !default;
$h4: (
  size: 1.75rem,
  line-height: 1.2,
  letter-spacing: normal,
  weight: 400,
) !default;
$h5: (
  size: 1.25rem,
  line-height: 1.2,
  letter-spacing: normal,
  weight: 400,
) !default;
$h6: (
  size: 1.1rem,
  line-height: 1.2,
  letter-spacing: normal,
  weight: 500,
) !default;
